extends layout
include post-meta

block content
  include author
  each article in articles
    article.post
    header.post-header
      h1
        a(href!=article.url title!="Read &quot;article.title&quot;")= article.title
      mixin post-meta(article)

    div.post-content
      p
        | !{ typogr(article.intro).typogrify() }
        a(href!=article.url, class="button button-default button-keep-reading", title!="Read &quot;article.title&quot;") Keep reading &rarr;
    

block prepend footer
  nav(class="pagination", role="pagination")
    if prevPage
      hr
      a(class="newer-posts", href!=prevPage.url) &larr; Newer posts
    if nextPage
      hr  
      a(class="older-posts", href!=nextPage.url) Older posts &rarr;
  div &nbsp;