mixin post-meta(article)
  menu.post-meta
    div.post-meta-data
      i.icon-calendar
      = " " + moment.utc(article.date).format('DD MMMM YYYY')
      br
      if article.metadata.tags
        i.icon-tags
        = " " + article.metadata.tags