menu.social-media-share
  a(href="http://twitter.com/diabolula" class="icon-twitter" rel="external" title="Twitter")
  a(href="http://www.flickr.com/photos/diabolula/" class="icon-flickr" rel="external" title="Flickr")
  a(href="http://instagram.com/diabolula" class="icon-instagram" rel="external" title="Instagram")
  a(href="http://soundcloud.com/lulal" class="icon-soundcloud" rel="external" title="Soundcloud")
  a(href="http://github.com/lula" class="icon-github" rel="external" title="GitHub")
  a(href="http://nl.linkedin.com/in/lucalulani" class="icon-linkedin" rel="external" title="LinkedIn")
  a(href="mailto:lucalula@gmail.com" class="icon-mail" rel="external" title="Write me an email")
  a(href="#" class="icon-feed" rel="external" title="RSS Feed")
    
  // a(href="#" class="icon-facebook" rel="external" title="Facebook")
  // a(href="http://plus.google.com/u/0/102163868417437909793" class="icon-googleplus" rel="external" title="Google+")
