[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-menu:before {
	content: "\e613";
}
.icon-datetime:before {
	content: "\e600";
}
.icon-flickr:before {
  content: "\e604";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-tags:before {
	content: "\e601";
}
.icon-shortlink:before {
	content: "\e616";
}
.icon-blockquote:before {
	content: "\e60b";
}
.icon-feed:before {
	content: "\e60f";
}
.icon-mail:before {
	content: "\e619";
}
.icon-twitter:before {
	content: "\e60e";
}
.icon-linkedin:before {
  content: "\e612";
}
.icon-code:before {
	content: "\e61b";
}
.icon-github:before {
  content: "\e605";
}
.icon-googleplus:before {
  content: "\e60d";
}
.icon-instagram:before {
  content: "\e614";
}
.icon-headphones:before {
  content: "\e616";
}
.icon-location:before {
  content: "\e602";
}
.icon-calendar:before {
  content: "\e615";
}
.icon-bubble:before{
  content: "\e607";
}
.icon-bubbles:before{
  content: "\e608";
}
.icon-soundcloud:before{
  content: "\e611";
}

